body {
    background-color: #b7d1a2;
}

.calc-contain {
    background-color:#000000;
    height:270px;
    width:175px;
    position:relative;
    text-align: center;
    margin: 100px auto 0;
}

.calculator__text {
    background-color: transparent;
    color: #fefefe;
    border: none;
    outline: none;
    text-align: right;
    font-size: 25px;
    height:30px;
    width:175px;
    margin-right: 20px;
}

.calculator__button {
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2f2f2f;
    color: #fefefe;
    margin-top: 5px;
    border: none;
    display: inline-block;
    vertical-align: middle;
}

.calculator__button-orange {
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fe9500;
    color: #fefefe;
    border: none;
    padding-bottom: 3px;
    vertical-align: middle;
}

.calculator__button-light {
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #a6a6a6;
    color: #fefefe;
    margin-top: 5px;
    border: none;
    display: table-cell;
    vertical-align: middle;
}

.calculator__button-big {
    font-size: 20px;
    width: 80px;
    height: 40px;
    border-radius: 120px;
    background-color: #2f2f2f;
    color: #fefefe;
    margin-top: 5px;
    margin-right: 4px;
    padding-left: 16px;
    text-align: left;
    border: none;
    vertical-align: middle;
}